pillow==6.1
opencv_transforms
termcolor
tensorboardX
contexttimer
sklearn
imgaug
prettytable
vcg
simplejson
fvcore
ffmpeg-python
tabulate
pandas
inplace_abn
scipy==1.5.3
lmdb
PyTurboJPEG
pickle5
albumentations
einops
filterpy